body{
    background-color: gainsboro;
}
.start{
    border-radius: 10px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
    color: blue;
    width: 100px;
}
